/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text renderingf
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  background-color: black;
  height: 100%;
}

body {
  height: 100%;
  padding: 10px;
}

.global-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: space-around;
  align-items: center;
}

.title {
  color: deeppink;
}

.board-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0px 10px;
  padding-top: 10px;
  align-self: center;
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

.board-row {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.tile {
  flex: 1;
  aspect-ratio: 1/1;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  min-width: 0px;
  max-width: 65px;
  border-radius: 10px;
  /* border: 2px solid deeppink; */
}

.keyboard-containter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.keyboard-row {
  display: flex;
  gap: 5px;
  justify-content: center;
  height: 58px;
  &:nth-of-type(2) {
    margin: 0 16px;
  }
}

.key {
  flex: 1;
  font-size: 1.25em;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  text-transform: uppercase;
}

.keyboard-row:nth-of-type(3) .key:nth-of-type(1) {
  font-size: 12px;
  flex: 1.5;
}

.keyboard-row:nth-of-type(3) .key:last-of-type {
  font-size: 12px;
  font-size: 18px;
  flex: 1.5;
}

.gameStatus {
  width: 100vw;
  text-align: left;
}

body {
  display: flex;
  font-family: "Lato", sans-serif;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    background: white;
    transform: scaleY(0);
  }
  60% {
    background: black;
  }

  100% {
    transform: scaleY(1);
  }
}

.flip-0 {
  animation: flip 500ms ease forwards;
}
.flip-1 {
  animation: flip 1000ms ease forwards;
}
.flip-2 {
  animation: flip 1500ms ease forwards;
}
.flip-3 {
  animation: flip 2000ms ease forwards;
}
.flip-4 {
  animation: flip 2500ms ease forwards;
}

.wrong {
  background-color: grey;
  color: white;
}

.correct {
  background-color: #84a59d;
  color: #f7ede2;
}

.exists {
  background-color: #f6bd60;
  color: #f7ede2;
}

.wrong {
  background-color: #4d5382;
  color: #f7ede2;
  /* color: black; */
}

/* Modal */

.modal {
  margin: auto;
  border-radius: 12px;
  border: none;
  width: min(80vw, 350px);
  padding: 20px;
}

.modal-contents {
  display: flex;
  flex-direction: column;
}

.modal-header {
  font-size: 18px;
  font-weight: 700;
}

.modal-message {
  color: rgb(101, 99, 109);
  font-size: 15px;
  line-height: 1.5;
  margin: 10px 0px 23px;
}

.modal-close-btn {
  border: none;
  height: 20px;
  width: 20px;
  background-color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  & svg {
    fill: rgb(101, 80, 185);
  }
}

.dialog-action-btn {
  background-color: rgb(214, 241, 223);
  color: rgb(33, 131, 88);
  border: none;
  border-radius: 4px;
  padding: 6px 15px;
  font-size: 15px;
  font-weight: 600;
}

.modal *:focus {
  outline: none !important;
  border: 1px solid rgb(33, 131, 88);
  box-shadow: 0 0 10px rgb(33, 131, 88);
}

/* .close-icon svg {
} */

::backdrop {
  /* background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  ); */
  background-color: black;
  opacity: 0.85;
}

.slider-wrapper {
  flex-direction: column;
  display: flex;
  gap: 2px;
  margin: -2px 0px 0px;
}

.slider {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  font-size: 16px;
  align-items: baseline;
}

.slider-label {
  grid-row: 1;
  grid-column: 1;
  color: hsl(0, 0%, 65%);
}
.slider-input {
  grid-row: 2;
  grid-column: 1 / span 2;
  color: red;
}

.slider .value {
  grid-row: 1;
  grid-column: 2;
  font-size: 20px;
  padding-left: 20px;
}

input[type="range"] {
  accent-color: rgb(91, 91, 95);
  /* -webkit-appearance: none; */
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
  align-items: center;
  border-bottom: 0.5px solid deeppink;
}
.modal-close-btn:hover,
.dialog-action-btn:hover,
.reset-btn:hover,
.config-btn:hover {
  cursor: pointer;
}

@media (min-width: calc(550px/16)) {
  .board-container {
    max-width: 380px;
  }

  .keyboard-container {
    width: min(550px, 100%);
  }

  /* .material-icons TODO
    font-size: 32px;
  } */
}
