/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text renderingf
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  background-color: black;
  height: 100%;
}

body {
  height: 100%;
  padding: 10px;
}

.global-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.main-container {
  width: 100%;
  /* height: 100%; */
  /* height: 400px; */
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

*:focus {
  outline: 1px solid #da77f2;
}

.title {
  color: #da77f2;
}

.board-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 0px 10px;
  padding-top: 10px;
  align-self: center;
  flex-grow: 1;
  justify-content: center;
  /* max-height: 420px; */
}

.board-row {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
  height: 200px;
  width: 100%;
}

.tile {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  min-width: 0px;
  caret-color: transparent;
  aspect-ratio: 1/1;
  max-height: 52px;
  border-radius: 6px;
  border: none;
  /* border: 1px solid hsl(0, 0%, 65%); */
  /* background: #242424; */
  /* background-color: inherit; */
  background-color: white;
}

.keyboard-containter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tile:focus {
  border: 2px solid #da77f2;
}

.keyboard-row {
  display: flex;
  gap: 5px;
  justify-content: center;
  height: 58px;
  &:nth-of-type(2) {
    margin: 0 16px;
  }
}

.key {
  flex: 1;
  font-size: 1.25em;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  text-transform: uppercase;
}

.key[data-value="BACKSPACE"] {
  background-color: #da77f2;
}

.keyboard-row:nth-of-type(3) .key:nth-of-type(1) {
  font-size: 12px;
  flex: 1.5;
}

.keyboard-row:nth-of-type(3) .key:last-of-type {
  font-size: 12px;
  font-size: 18px;
  flex: 1.5;
}

.gameStatus {
  width: 100vw;
  text-align: left;
}

body {
  display: flex;
  font-family: "Lato", sans-serif;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    background: white;
    transform: scaleY(0);
  }
  /* 60% {
    background: black;
  } */

  100% {
    transform: scaleY(1);
  }
}

.flip-0 {
  animation: flip 500ms ease forwards;
}
.flip-1 {
  animation: flip 1000ms ease forwards;
}
.flip-2 {
  animation: flip 1500ms ease forwards;
}
.flip-3 {
  animation: flip 2000ms ease forwards;
}
.flip-4 {
  animation: flip 2500ms ease forwards;
}

.wrong {
  background-color: grey;
  color: white;
}

.correct {
  background-color: #84a59d;
  color: #f7ede2;
}

.exists {
  background-color: #f6bd60;
  color: #f7ede2;
}

.wrong {
  background-color: #4d5382;
  color: #f7ede2;
  /* color: black; */
}

/* Modal */

.modal {
  margin: auto;
  border-radius: 12px;
  border: none;
  width: min(80vw, 350px);
  padding: 20px;
  background-color: #242424;
}

.modal-contents {
  display: flex;
  flex-direction: column;
}

.modal-header {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.modal-message {
  color: rgb(101, 99, 109);
  font-size: 15px;
  line-height: 1.5;
  margin: 9px 0px 21px;
}

.modal-close-btn {
  border: none;
  height: 20px;
  width: 20px;
  background-color: inherit;
  position: absolute;
  top: 7px;
  right: 7px;
  & svg {
    fill: white;
  }
}

.dialog-action-btn {
  color: #da77f2;
  border: 1px solid #da77f2;
  border-radius: 4px;
  padding: 6px 15px;
  font-size: 15px;
  font-weight: 600;
  background-color: #2e2e2e;
}

.dialog-action-btn:focus {
  outline: 1px solid #da77f2;
}

/* .modal *:focus {
  outline: none !important;
  border: 1px solid rgb(33, 131, 88);
  box-shadow: 0 0 10px rgb(33, 131, 88);
} */

/* .close-icon svg {
} */

::backdrop {
  /* background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  ); */
  background-color: hsl(0, 0%, 0%, 0.9);
}

.slider-wrapper {
  flex-direction: column;
  display: flex;
  gap: 2px;
  margin: 3px 0px -2px;
}

.slider {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  font-size: 16px;
  align-items: baseline;
}

.slider:first-of-type {
  margin-bottom: -12px;
}

.slider-label {
  grid-row: 1;
  grid-column: 1;
  color: rgb(101, 99, 109);
  font-size: 15px;
}
.slider-input {
  grid-row: 2;
  grid-column: 1 / span 2;
  color: red;
}

.slider .value {
  grid-row: 1;
  grid-column: 2;
  font-size: 20px;
  padding-left: 20px;
  color: white;
}

input[type="range"] {
  accent-color: #828282;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0px 10px;
  align-items: center;
  border-bottom: 0.5px solid #da77f2;
}
.modal-close-btn:hover,
.dialog-action-btn:hover,
.reset-btn:hover,
.config-btn:hover {
  cursor: pointer;
}

@media (min-width: 375px) {
  .board-container {
    max-width: 380px;
  }
}

@media (min-width: 550px) {
  nav {
    padding: 10px 0px;
  }
  .keyboard-container {
    width: min(550px, 100%);
  }
  .tile {
    max-height: 62px;
  }
}
